@model MVCAccount.Models.LoginDTO

<div class="col-12 mt-2 p-lg-3 row">
    <form asp-action="LoginCkkies" asp-controller="Account" method="post">
        <div class="row mb-md-2 ">
            <div class="col-md-4 text-center">
                <label asp-for="Username" class="control-label"></label>
            </div>
            <div class="col-md-5">
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-md-2">

            <div class="col-md-4 text-center">
                <label asp-for="Password" class="control-label"></label>
            </div>
            <div class="col-md-5">
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-md-2 d-flex justify-content-center">
            <div class="row col-4 align-content-center">
                <input type="reset" value="Reset" class="btn btn-dark w-50" />

            </div>
            <div class="col-md-4 align-content-center">
                <input type="submit" value="Save" class="btn btn-primary w-50" />
            </div>
        </div>
    </form>

</div>